.footer {
  min-height: 240px;
  background: transparent linear-gradient(180deg, #34b95f 0%, #0694d2 100%) 0%
    0% no-repeat padding-box;

  a {
    font-size: 0.9rem;
  }
}

.copyright {
  font-size: 0.75rem;
}
